.Restaurant {
    height: 20rem;
    width: 70rem;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid;
}

.Restaurant .image-container {
    width: 20rem;
    
}

.Restaurant img {
    border-radius: 10px;
    height: 20rem;
    width: 100%;
    opacity: 70%;
    float:left;
    margin-right: 50px;
    margin-left: 50px;
}

.Restaurant h1 {
    font-size: 2rem;
    
}

.Review-info {
      color: #CCA353;
  font-weight: 600;
}
