.SidePage .container {
    display: flex;
    height: 28rem;
    font-size: 2vw;
    background-image: url('./sidephoto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    align-items: center;
    margin-bottom: 0%;
}

.SidePage .box {
    background-color: teal;
    padding: 3rem;
    width: 40%;
    text-align: center;
    margin: auto;
}


.SidePage ul>li {
    display: block;
    margin-top: 1rem;

}

@media only screen and (max-width: 800px) {
    .SidePage .container {
        height: 100%;
        font-size: 4vw;
    }
}