.Main {
    display: block;
    background-image: url('./dish3.jpg');
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.Main .text-container {
    text-align: center;
}

.Main .text {
    display: inline-block;
    text-align: center;
    background-color: grey;
    padding: 5px 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.Main h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
}

