.Main {
    display: block;
    background-image: url('./dish.jpg');
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.Main .text-container {
    text-align: center;
}


.Main .text:hover {
    cursor: pointer;
}

.Main .text {
    display: inline-block;
    text-align: center;
    background-color: teal;
    padding: 5px 150px;
    margin-bottom: 20px;
    margin-top: 8rem;
    border: 1px solid black;
}


.Main h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
}

