.Search-fields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Search-fields input {
    font-size: 1rem;
    margin: 10px;
}

.Search-button a {
    margin-top: 50px;
    border: solid;
    border-radius: 4px;
    padding: 10px;
}

.Search-button a:hover {
    cursor:pointer;
}
