.Restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 95%;
    border: solid 0px teal;

    border-radius: 5px;

    margin-left: 5%;

    overflow: hidden;
    background-color: rgb(230, 230, 230,1);
}

.Restaurant:hover {
    background-color: rgb(222, 230, 230,1);
}


.Restaurant img {
    height: 20vw;
    width: 20vw;
    border-radius: 5px;
    object-fit: cover;

    opacity: 100%;
}

.clickable-img:hover {
    cursor: pointer;
    opacity: 100%;
}

.Info-text {
    margin-left: 5%;
    font-size: 1vw;
}

.Restaurant h1 {

    font-weight: 500;
}

.Restaurant h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

.clickable-h1:hover {
    cursor: pointer;
    text-decoration: underline;
}


.Restaurant-name {
    font-weight: lighter;
    
}

.Review-info {
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
    .Restaurant img {
        height: 40vw;
        width: 40vw;
        border-radius: 5px;
        object-fit: cover;
        opacity: 90%;
    }
    .Info-text {
    
    
        font-size: 2.1vw;
    }
}