#Header {
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.Search-results .content {
    background-color: rgb(240, 240, 240,1);

    background-image: url('background2.jpg');
    background-size: contain;
    margin-top: -1.4rem;
    
} 

