.Review-page {
    background-color: rgb(240, 240, 240,1);
}

.row {
    display: flex;
    flex-wrap: wrap;

    
}

.Restaurant-display {
    width: 50%;
}

.Form-display {
    width: 45%;
}

.Review-page .row {


}

@media only screen and (max-width: 800px) {
    .Restaurant-display {
        width: 100%;
        
    }
    
    .Form-display {
        width: 100%;
    }
}